---
http_interactions:
- request:
    method: get
    uri: https://www.trulia.com/json/search/dots/?id=2&url=https://www.trulia.com/for_sale/Denver,CO/p_oh/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":2,"dots":[{"lat":39.70844,"lng":-104.909996,"id":"5040479596","url":"\/p\/co\/denver\/423-s-niagara-st-denver-co-80224--2111014505","address":"423
        S Niagara St","price":"$750,000","shortPrice":"$750k","beds":"4bd","baths":"3ba","sqft":"2,600
        sqft","photoUrl":"\/pictures\/thumbs_3\/zillowstatic\/ISyv2v9d2v12o41000000000.jpg","photoUrlForHdDpiDisplay":"\/pictures\/thumbs_4\/zillowstatic\/ISyv2v9d2v12o41000000000.jpg"},{"lat":39.745193,"lng":-104.88849,"id":"1081513999","url":"\/p\/co\/denver\/1777-willow-st-denver-co-80220--2073335946","address":"1777
        Willow St","price":"$459,000","shortPrice":"$459k","beds":"5bd","baths":"3ba","sqft":"2,256
        sqft","photoUrl":"\/pictures\/thumbs_3\/zillowstatic\/IS6253h0pwpqq60000000000.jpg","photoUrlForHdDpiDisplay":"\/pictures\/thumbs_4\/zillowstatic\/IS6253h0pwpqq60000000000.jpg"},{"lat":39.[...]
